## Mihomo
.config/mihomo/**
!.config/mihomo/config.yaml.tmpl
!.config/mihomo/build-config.ps1
!.config/mihomo/MihomoLauncher.ps1

## PowerShell
Documents/PowerShell/**
!Documents/PowerShell/Microsoft.PowerShell_profile.ps1

## Agents
.agents/

## Linux
.zed/
.vscode/

.config/hypr/workspaces.conf
.config/hypr/monitors.conf

.config/fuzzel/matugen.ini
.config/hypr/conf/matugen.conf
.config/kitty/matugen.conf
.config/fish/themes/matugen.theme