* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font", monospace;
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.60);
    color: #cdd6f4;
}

tooltip {
    background: #010409;
    border-radius: 10px;
}

#workspaces button {
    padding: 5px;
    color: #313244;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #010409;
}

#workspaces button.urgent {
    color: #11111b;
    background: #010409;
}

#workspaces button:hover {
    background: #010409;
    color: #cdd6f4;
}

#clock,
#workspaces,
#window,
#tray,
#network,
#cpu,
#memory,
#pulseaudio,
#backlight,
#battery,
#custom-notification {
    padding: 1px 5px;
}

#window {
    font-family: "LXGW WenKai", "Symbols Nerd Font", monospace;
    margin-right: 40px;
    margin-right: 40px;
}

#clock {
    color: #fab387;
}

#network {
    color: #f9e2af;
}

#cpu {
    color: #cba6f7;
}

#memory {
    color: #f9a6ff;
}

#pulseaudio {
    color: #89b4fa;
}

#battery {
    color: #a6e3a1;
}

#custom-notification {
    color: #6b53ca
}

.modules-left {
    padding-left: 5px;
}

.modules-right {
    padding-right: 5px;
}
